body{
    height: 100vh;
    display: flex;
    background: linear-gradient(#019588 15vh, #DADAD3 15vh, #DADAD3 85vh);    
}

.container{
    width: 100%;
    background-color: gold;
}

.row{
    height: 100%;
    background-color: silver;
}

.col{
    height: 100%;
    background-color: white;
}

.col.content{
    flex-grow: 1;
    overflow: hidden;
}

.col.tablet-only{
    display: none;
    overflow: hidden;
}

.top, .foot{
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-img{
    width: 50px ;
    height: 50px;
    margin: 8px 15px;
    flex-shrink: 0;
}

.top-img img{
    height: 100%;
    width: 150%;
    max-width: 100%;
    object-fit:cover;
    border-radius: 50%;
}

.top-nome{
    width: 80%;
}

.top-nome span{
    font-size: larger;
}

.col.content .top{
    justify-content: space-between;
    display: flex;
}

.top-icon.tablet-only ul.flex, .top .desktop-only ul.flex{
    gap: 20px;
    margin: auto;
    margin-right: 10px;
}

.top-icon.tablet-only ul.flex svg, .top .desktop-only ul.flex svg{
    width: 20px;
    height: 20px;
    filter: invert(62%);
}

.chats{
    overflow-y: auto;
    overflow-x: hidden;
}

.chats ul hr{
    color: #EAEAEA;
    background: #EAEAEA;
    border: 0;
    height: 1px;
}

.col.content .top .top-left{
    display: flex;
    align-items: center;
}

.center {
    height:calc(100% - (66px + 56px));
    background-image:url(../../img/mine.jpg) ;
    overflow: auto;
    display: flex;
}

.foot{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.foot svg{
    width: 20px;
    height: 20px;
    filter: invert(35%);
    margin: 0 20px;
}

#msg{
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: none;
}

.desktop-only{
    display: none;
}

.messaggi{
    height: 90%;
    width: 90%;
    margin: auto;
}

.inviato .riceuto{
    max-width: 60%;
}

.fumetto{
    background-color: #D4F9BB;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.inviato{
    background-color: #D4F9BB;
    margin-left: 40%;
}

.ricevuto{
    background-color: white;
    margin-right: 40%;
}

.info-messaggio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: grey;
    font-size: 10px;
    filter: invert(65%);
    text-align: end;
    margin-left: 10px;

}

.info-messaggio svg{
    width: 20px;
    height: 15px;
}
