body{
    height: 100vh;
    display: flex;
    background: linear-gradient( to top, #DADAD3 80%, #019588 20%);    
}

.container{
    width: 100%;
    background-color: gold;
}

.row{
    height: 100%;
    background-color: silver;
}

.col{
    height: 100%;
    background-color: white;
}

.top, .foot{
    height: 10%;
    background-color: lightgray;
}

.center {
    height: 80%;
    background-color: green;
}
