body{
    height: 100vh;
    display: flex;
    background: linear-gradient(#019588 20%, #DADAD3 20%, #DADAD3 80%);    
}

.container{
    width: 100%;
    background-color: gold;
}

.row{
    height: 100%;
    background-color: silver;
}

.col{
    height: 100%;
    background-color: white;
}

.col.content{
    flex-grow: 1;
    overflow: hidden;
}

.col.tablet-only{
    display: none;
}

.top, .foot{
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
}

.top-img{
    width: 50px ;
    height: 50px;
    margin: 8px 15px;
}

.top-img img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.top-nome{
    width: 80%;
}

.top-nome span{
    font-size: larger;
}

.col.content .top{
    justify-content: space-between;
    display: flex;
}

.top-icon.tablet-only ul.flex{
    gap: 10px;
    margin: auto;
    margin-right: 10px;
}

.top-icon.tablet-only ul.flex svg{
    width: 20px;
    height: 20px;
    filter: invert(62%);
}

.chats{
    overflow-y: auto;
    height: calc(100% - 66px);
}

.chats ul hr{
    color: #EAEAEA;
    background: #EAEAEA;
    border: 0;
    height: 1px;
}

.col.content .top .top-left{
    display: flex;
    align-items: center;
}

.center {
    height:calc(100% - (66px + 56px));
    background-image:url(../../img/mine.jpg) ;
    overflow: auto;
}

.foot{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.foot svg{
    width: 20px;
    height: 20px;
    filter: invert(35%);
    margin: 0 20px;
}

#msg{
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: none;
}
