/* TABLET */
@media screen and (min-width: 480px) {
    .row{
        display: flex;
    }

    .col{
        width: 88%;
    }

    .col.tablet-only{
        width: 12%;
        display: block;
        min-width: 80px;
        overflow: hidden;
        border-right: 1px solid lightgrey;
    }

    .tablet-only{
        display: block;
    }
}


/* DESKTOP */
@media screen and (min-width: 768px) {
    .container{
        width: 80%;
        height: 90%;
        margin: auto;
        max-width: 1200px;
    }

    .col.tablet-only{
        width: 30%;
    }

    .desktop-only{
        display: block;
    }

    .notification{
        background-color: #8FDAFC;
        display: flex;
        align-items: center;
    }

    .notification-center{
        display: flex;
        padding: 10px;
    }

    .notification-svg{
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .notification-svg svg{
        width: 60%;
        height: 60%;
        filter: brightness(0) saturate(100%) invert(79%) sepia(11%) saturate(1457%) hue-rotate(167deg) brightness(101%) contrast(98%);
    }

    .notification-message {
        margin-left: 10px;
    }


    .notification-message a{
        color: grey;
    }
}