/* TABLET */
@media screen and (min-width: 480px) {
    .row{
        display: flex;
    }

    .col{
        width: 88%;
    }

    .col.tablet-only{
        width: 12%;
        display: block;
        min-width: 80px;
        overflow: hidden;
    }
}


/* DESKTOP */
@media screen and (min-width: 768px) {
    .container{
        width: 80%;
        height: 90%;
        margin: auto;
        max-width: 1200px;
    }

    .col.tablet-only{
        width: 30%;
    }
}
